.h1principal{

    color: rgb(147, 136, 117);
    
}

.h1texto{

color: rgb(181, 181, 77);
}


p{

    color: red;
}

#tabla{

    color: black
    
}

.home{

    background-color: orange;
}

.Pp{ 



color: #dd8f8f; 
font-family: futura;
background-color: rgb(255, 255, 255);


}


.Pp{

color: rgb(80, 117, 80);}